/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
    font-family: "Roboto";
  }

  /* ==========================================================================
   #BOX-SIZING
   ========================================================================== */

  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  button {
    outline: none;
    background: none;
    border: none;
  }

  /* .navbar {
    color: white;
  } */

  li {
    color: white;
  }

  .navbar {
      /* background-color: #00406E; */
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 0px;
      margin-bottom: 0px; 
      font-size: 18px;
      /* font-family: 'Handlee', cursive; */
  }
  
  /* #myNavbar {
    margin-bottom:0px;
    font-size: 20px;
  } */

  /* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
   body {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }

  h2 {
    font-size: 30px;
  }

  /* ==========================================================================
   #BACKGROUND
   ========================================================================== */

.bg-gra-col {
    /* background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%); */
    background: -moz-radial-gradient(center, ellipse cover, rgba(34,230,230,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(34,230,230,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(34,230,230,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(34,230,230,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(34,230,230,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(34,230,230,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22E6E6', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
  }

  /* ==========================================================================
   #SPACING
   ========================================================================== */
.main-padding {
    padding-top: 70px;
    /* padding-bottom: 75px; */
  }
  
  /* .p-t-20 {
    padding-top: 20px;
  }
  
  .p-t-10 {
    padding-top: 10px;
  }
  
  .p-t-30 {
    padding-top: 30px;
  } */

  /* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
    margin: 0 auto;
  }

  /* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
    line-height: 40px;
    padding: 0 33px;
    /* font-family: Poppins, Arial, "Helvetica Neue", sans-serif; */
    cursor: pointer;
    color: #fff;
    font-size: 16px;
  }
  
  .btn-shape {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  
  .btn-color {
    background: #189D9E;
  }

  .btn-left {
    float: left;
  }

  .btn-right {
      float: right;
  }

  /* ==========================================================================
   #FORM
   ========================================================================== */
input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    font-size: 14px;
    font-family: inherit;
  }
  
  .input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    cursor: pointer;
  }
  
  .input-area {
    position: relative;
    margin-bottom: 33px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .input-style {
    padding: 5px 0;
    font-size: 16px;
    color: #ccc;
    background: transparent;
  }

  /* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 36px;
  }
  
  /* ==========================================================================
     #CARD
     ========================================================================== */
  .card {
    overflow: hidden;
  }
  
  .card-3 {
  background: #0b2631;
  background: -moz-radial-gradient(center, ellipse cover, rgba(11,38,49,1) 0%, rgba(0,0,0,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(11,38,49,1)), color-stop(100%, rgba(0,0,0,1))); /* safari4+,chrome */
  background:-webkit-radial-gradient(center, ellipse cover, rgba(11,38,49,1) 0%, rgba(0,0,0,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(11,38,49,1) 0%, rgba(0,0,0,1) 100%); /* opera 11.10+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(11,38,49,1) 0%, rgba(0,0,0,1) 100%); /* ie10+ */
  background:radial-gradient(ellipse at center, rgba(11,38,49,1) 0%, rgba(0,0,0,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b2631', endColorstr='#000000',GradientType=1 ); /* ie6-9 */
    width: 100%;
    display: table;
  }
  
  .card-3 .card-left {
    background: url("images/lunch.jpg") top left/cover no-repeat;
    display: table-cell;
    width: 60%;
  }
  
  .card-3 .card-right {
    padding: 57px 65px;
    padding-bottom: 65px;
    display: table-cell;
  }
  
  
  