/* ==========================================================================
   #FONT
   ========================================================================== */
.font-robo {
    font-family: "Roboto";
  }

  /* ==========================================================================
   #BOX-SIZING
   ========================================================================== */

  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  * {
    padding: 0;
    margin: 0;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }

  /* ==========================================================================
   #PAGE WRAPPER
   ========================================================================== */
   body {
    font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
  }

  h2 {
    font-size: 30px;
  }