
body {
    font-family: 'Roboto', sans-serif;
    background: whitesmoke;
    color: black;
   
  
}
  
#sideMenu{
    background: #4B4C4F;
    max-width:280px;
    width: 200px;
    position: fixed;
    top:0;
    bottom:0;
    /* overflow-x: hidden; */
    height:100% ;
    

}

#sideMenu a{
    display: block;
    color: white;
    text-decoration:none;
    padding:15px 30px ;
    transition: all 0.3s ease-in-out;
   
}
#sideMenu a:active{
    background: #f0f0f0;
    border-left:  5px solid grey;
    padding:15px 30px 15px 25px ;

}
#sideMenu a:hover{
    background: #6b9b85;
    border-left:  5px solid grey;
    padding:15px 30px 15px 25px ;
    
}

#nav{
    padding-top:100px;

}
#nav .fa{
    font-size: 1.4rem;
    margin-right:0.0rem;
    display: inline-block;
    width: 30px;
    position:relative;
    top: 2px;
}
#nav .fa:active{
    background: #f0f0f0;
    border-left:  5px solid grey;
    padding:15px 30px 15px 25px ;

}

.content-area{
    margin-left:200px;
    padding:15px;

}
.content-area .heading h1{
   color: Black;
   font-size:1.4 rem;
   font-weight:400;
   margin-bottom:10px;
}
.content-area .heading p{
    color: Black;
    font-size:0.8 rem;
    margin-bottom:10px;
 }

 .content-area .cards .card{
    background: #ffff;
    border-radius :5px;
    padding: 20px;
    overflow: auto:
 }

 .content-area .cards .card .user-name{
   font-size:1 rem;
   color:purple;
    display:block;
    text-align: center;
    margin: 10px 0;
 }
 .content-area .cards .card .user-title{
    font-size: 0.8 rem;
    display:block;
    text-align: center;
    margin: 10px 0;
  }
  .content-area .cards .card .education{
    font-size: 0.8 rem;
   display: inline-block;
  }
  .content-area .cards .card .school{
    font-size: 0.8 rem;
   
  }
.col-md-4{
   width: 33.33333%;
   padding:0 15px;
   display: inline-block;

 }

 .col-md-3{
    width: 25%;
    padding: 0 15px;
    display: inline-block;
 
  }
  
  .col-md-9{
    width: 108.33%;
    padding: 0 15px;
    display: inline-block;
    float:left;
 
  }

  .grid-container {
    display: grid;
    grid-column-gap: 50px;
  }

 table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4B4C4F;
    color: white;
}

  p, h2, h3{
    font-size:1.4 rem;
    font-weight:400;
  }